* {
    box-sizing: border-box;
}

body {
    display: block;
    width: 768px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    display: flex;
}

.head div {
    text-align: center;
    
    background-color: #C7C7C7;
}

h1 {
    font-size: medium;
    margin-block: 4px;
}

.body {
    display: flex;

    height: 90px;
}

.body .one {
    display: flex;
}

.box {
    border-style: solid;
    border-color: #aaaaaa;
    border-width: 1px;
}

.one {
    width: 380px;
}

.one div {
    margin-left: 5px;
}

.two {
    width: 80px;
}

.three {
    width: 250px;
}

button {
    margin: 2px;
    width: 73.77px;
}

input {
    width: 73.77px;
    margin-inline: 2px;
    margin-bottom: 1px;
}